*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    background-color: #fff;
}
nav h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}
nav img{
    height: 40px;
    margin-top: 5px;
    object-fit: cover;
}

.navbar{
    display: flex;
    padding: 35px 200px;

}
.nav-logo{
    display: flex;
    width: 50%;
}
.nav-content{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    width: 50%;
    text-align: center;
    align-items: center;
}
.nav-content a{
    text-decoration: none;
}
.btn-follow{
   background-color: rgba(11, 2, 35, 0.10);
   padding: 7px 15px;

}