*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.color-gradient{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.color-basic{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* ------------------------------------? */

nav{
    background-color: #fff;
}
nav h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}
nav img{
    height: 40px;
    margin-top: 5px;
    object-fit: cover;
}

.navbar{
    display: flex;
    padding: 35px 240px;

}
.nav-logo{
    display: flex;
    width: 50%;
}
.nav-content{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    width: 50%;
    text-align: center;
    align-items: center;
}
.nav-content a{
    text-decoration: none;
}
.btn-follow{
   background-color: rgba(11, 2, 35, 0.10);
   padding: 7px 15px;

}

/* --------Baner------ */
.banner{
    display: flex;
    margin: 0px 240px;
    /* justify-content: center; */
    align-items: center;
    gap: 60px;
}
.banner-content{
    width: 50%;
}
.banner-content ul{
    list-style-type: none;
    padding-left: 10px;
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 30px;
}

.banner-img img{
    width: 100%;
}
.title-desc{
text-align: center;
font-size: 48px;
font-weight: 600;
}
.title-head{
    text-align: center;
font-size: 95px;
font-weight: 800;
}
.btn-sign-in{
    padding:10px 20px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: white;
border: none;
}
.btn-go-rogue{
    padding:10px 20px;
    border-radius: 48px;
    background-color: #4EC5F7;
color: white;
border: none;
}


/* -------online games------- */

.online-games{
    margin: 55px 240px;
    text-align: center;
}

.online-games-info h1{
font-size: 48px;
font-weight: 700;
margin-bottom: 10px;
}
.online-games-img{
    display: flex;
    margin-top: 20px;
    gap: 15px;
    text-align: left;
}
.online-games-img img{
    width: 100%;
    height: 90%;
}
.online-games-img .card-img{
    height: 100%;
    width: 250px;
}


/* -------Hover effect online games pictures------- */

.card-img {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card-img:hover .image {
    opacity: 0.3;
  }
  
  .card-img:hover .hover {
    opacity: 1;
  }
  
  .hover-item {
    font-size: 30px;
    padding: 16px 32px;
  }
  .hover-item p{
    padding-top: 5px;
	font-size:10px;
}
/* --------------------hover effect-------------------------- */




/* -----------play instant----------------- */

.play-instantly{
    display: flex;
    margin: 0px 240px;
    margin-top: 200px;
    text-align: center;
    gap: 20px;
    text-align: left;
}
.play-instantly-info{
    width: 50%;
    padding-left: 150px;
    margin-right: 100px;
}
.play-instantly-info h1{

    padding-top: 150px;
    margin-bottom: 24px;
    line-height: 30px;
}

.play-instantly-img{
    width: 70%;
    margin-left: 80px;
}
.main-img{
    width: 96%;
}
.cat{
    width: 40%;
    position: relative;
    bottom: 180px;
    right: 100px;
}


/* -------Our games----- */
.our-games{
    margin-top: 0px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.games{
    display: flex;
    align-items: center;
    font-weight: 600;
    
}

.games:hover{
    border: 1px solid #FF55AE;
    border-radius: 50px;
    color: #FF55AE;
}


footer{
    padding: 120px 240px;
    text-align: center;
    background-color: black;
    color: white;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
}
.our-features{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
    
    }
.our-info{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.copy-right{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.sf{
   font-size: 30px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 30px;margin-bottom: 30px;
}
