@media screen and (min-width: 427px) and (max-width: 768px){

 
    .navbar{
        /* flex-direction: column; */
    }
    .navbar{
        margin-left: 70px;
        padding: 20px 40px;
        padding-top:50px ;
        font-size: 10px; 
    }
    
    .nav-logo{
        margin-left: 0px;
        padding-top: 0px;
    }
    .nav-content a{
        margin-left:0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .btn-follow{
        padding-top: 15px;
        border-radius: 10px;
     
     }

     /* ---------banner------- */
     .banner{
        margin: 0px 0px;
        margin: 50px 100px;
     }
     .title-desc{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
     }
     .title-head{
    text-align: center;
    font-size: 55px;
    font-weight: 800;
    }
    .banner-img img{
        width: 90%;
        margin: 0px 20px;
    }
    /* -----------Online games----------- */
    .online-games{
        margin: 80px 20px;
        text-align: center;
        
    }
    .online-games-img{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin: 0px 20px;

    }
    .online-games-img img{
        height: 90%;
        width: auto;
    }
    .online-games-info{
       padding: 0px 20px;
    }
    .card{
        margin: 30px 0px;
    }
    /* -----------play instant----------------- */

.play-instantly{
    display: flex;
    margin: 0px 32px;
    text-align: center;
    gap: 20px;
    text-align: left;
}
.play-instantly-info{
    width: 50%;
    padding-left: 50px;
    margin-right: 100px;
}
.play-instantly-info h1{

    padding-top: 70px;
    margin-bottom: 24px;
    line-height: 30px;
}

.play-instantly-img{
    width: 70%;
    margin-left: 80px;
}
.main-img{
    width: 100%;
}
.cat{
    width: 40%;
    position: relative;
    bottom: 100px;
    right: 70px;
}
.our-games{
    margin:0px 10px;
   margin-bottom: 60px;
   font-size: 16px;

   grid-template-columns: repeat(3, 1fr);
   justify-content: space-around;
   gap: 5px;
   align-items: start;
   
}


}
